body {
    background-color: #fafafc;
    color: #363d85;
    line-height: 1.7;
    font-family: "Georgia", sans-serif;
    font-size: 16px;
}

.row1 {
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 35px;
}

.container {
    margin-left: 0;
    margin-right: 0;
}

p {
    padding-top: 5px;
    padding-bottom: 5px;
}

h2 {
    color: #363d85;
}

h3 {
    padding-top: 20px;
    color: #363d85;
}

.intro {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 0px;
    margin-left: 0px;
}

.vert-divider {
    margin: 0px;
    padding: 0px;
}

.pubs {
    background-color: #fafafc;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 0px;
    margin-left: 0px;
}

.row2 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

a {
    color: #363d85;
    text-decoration: none;
}

.btn-main {
    background-color: #dfecff !important;
    border-color: #dfecff !important;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    font-weight: bold;
}

.name {
    margin-bottom: 10px;
}

.btn-pub {
    background-color: #dfecff !important;
    border-color: #dfecff !important;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
}

mark {
    background-color: #dff4ff;
    color: #363d85;
    font-weight: bold;
}

.pic {
    background-color: #262948;
    padding: 7pt;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.pic-caption {
    background-color: #fafafc;
    padding: 7pt;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 15px;
    
}

img {
    width: 99%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.intro-text {
    margin-bottom: 20px;
}

.border {
    border-color: #acacd1 !important;
    border-radius: 10px;
    border-width: 1px !important;
    padding: 12px;
    box-shadow: -5px 5px 5px #e8edf8;
}

.border-special {
    border-color: #acacd1 !important;
    border-radius: 10px;
    border-width: 1px !important;
    padding: 12px;
    box-shadow: -5px 5px 5px #c7d5f4;
}

footer {
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.right_pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}